<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RecipeFinder</title>
    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <!-- [if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js ></script>
    <![endif> -->
</head>
<body class="main">
    <div class="latest">
        <h1>Latest Recipes</h1>
        <div>
            <img src="/static/img/food-sample.jpg" alt="">
            <h2>Lorem corporis!</h2>
            <span>Cooking time: 20 minut</span>
        </div>
        <div>
            <img src="/static/img/food-sample.jpg" alt="">
            <h2>Lorem corporis!</h2>
            <span>Cooking time: 20 minut</span>
        </div>
        <div>
            <img src="/static/img/food-sample.jpg" alt="">
            <h2>Lorem corporis!</h2>
            <span>Cooking time: 20 minut</span>
        </div>
    </div>
    <aside class="sidebar">
        <h1>Most popular</h1>
        <div>
            <span>4.9/5</span>
            <p>Dolor sunt vitae!</p>
        </div>
        <div>
            <span>4.9/5</span>
            <p>Dolor sunt vitae!</p>
        </div>
        <div>
            <span>4.9/5</span>
            <p>Dolor sunt vitae!</p>
        </div>
        <div>
            <span>4.9/5</span>
            <p>Dolor sunt vitae!</p>
        </div>
        <div>
            <span>4.9/5</span>
            <p>Dolor sunt vitae!</p>
        </div>
        <div>
            <span>4.9/5</span>
            <p>Dolor sunt vitae!</p>
        </div>
        <h1>Yummy tweets!</h1>
        <div><p>Amet itaque nesciunt quam quod velit, in nostrum quis neque.</p></div>
        <div><p>Amet itaque nesciunt quam quod velit, in nostrum quis neque.</p></div>
        <div><p>Amet itaque nesciunt quam quod velit, in nostrum quis neque.</p></div>
        <div><p>Amet itaque nesciunt quam quod velit, in nostrum quis neque.</p></div>
        <h1>Recipe categories</h1>
        <ul>
            <li>Elit nisi sit.</li>
            <li>Ipsum omnis soluta.</li>
            <li>Ipsum consequuntur veniam.</li>
            <li>Lorem laudantium?</li>
            <li>Sit nobis.</li>
        </ul>
    </aside>
</body>
</html>
