<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RecipeFinder</title>
    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <!-- [if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js ></script>
    <![endif> -->
</head>
<body class="center-global cf">
    <header>
        <div class="center-global cf">
            <a href="#"><img class="logo" src="/static/img/logo.png" alt="RecipeFinder logo"></a>
            <nav>
                <ul>
                    <li>Recipes</li>
                    <li>Ingredients</li>
                    <li>Contributors</li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="promo center-global">
        <img src="/static/img/promo.jpg" alt="Zucchini Purri">
        <div class="promo-desc">
            <h1>Sweet and sour Zucchini Purre</h1>
            <a class="promo-btn" href="#">cook it now!</a>
        </div>
    </div>
    <div class="main center-global cf">
        <div class="latest">
            <h1>Latest Recipes</h1>
            <div class="media">
                <a href="#">
                    <img src="/static/img/food-sample.jpg" alt="">
                    <h2>Ipsum eveniet.</h2>
                    <p>Cooking time: <span>20</span> minut</p>
                </a>
            </div>
            <div class="media">
                <a href="#">
                    <img src="/static/img/food-sample.jpg" alt="">
                    <h2>Ipsum sapiente?</h2>
                    <p>Cooking time: <span>20</span> minut</p>
                </a>
            </div>
            <div class="media">
                <a href="#">
                    <img src="/static/img/food-sample.jpg" alt="">
                    <h2>Dolor ea.</h2>
                    <p>Cooking time: <span>20</span> minut</p>
                </a>
            </div>
            <a class="promo-btn more-btn" href="#">discover more recipes</a>
        </div>
        <aside class="sidebar">
            <div class="popular">
                <div class="rating">4.5/5</div>
                <div class="pop-item"><a href="#">Consectetur incidunt.</a></div>
                <div class="rating">4.5/5</div>
                <div class="pop-item"><a href="#">Sit quos.</a></div>
                <div class="rating">4.5/5</div>
                <div class="pop-item"><a href="#">Ipsum voluptatem.</a></div>
                <div class="rating">4.5/5</div>
                <div class="pop-item"><a href="#">Sit quas!</a></div>
                <div class="rating">4.5/5</div>
                <div class="pop-item"><a href="#">Dolor inventore!</a></div>
            </div>
            <h1>Yummy tweets!</h1>
            <div class="tweet">
                <p>
                <a href="#">@Joe</a> : Ipsum veritatis accusantium!<br>
                    <a class="date" href="#">one our ago</a>
                </p>
            </div>
            <div class="tweet">
                <p>
                <a href="#">@Joe</a> : Ipsum mollitia eaque?<br>
                    <a class="date" href="#">one our ago</a>
                </p>
            </div>
            <div class="tweet">
                <p>
                <a href="#">@Joe</a> : Dolor debitis rerum.<br>
                    <a class="date" href="#">one our ago</a>
                </p>
            </div>
            <div class="tweet">
                <p>
                <a href="#">@Joe</a> : Elit cum perferendis.<br>
                    <a class="date" href="#">one our ago</a>
                </p>
            </div>
        </aside>
    </div> <!-- .main -->
    <footer>
        <div class="footer-inside center cf">
            <div class="footer-1">
                <h1>Recipe categories</h1>
                <ul>
                    <li>Elit nisi sit.</li>
                    <li>Ipsum omnis soluta.</li>
                    <li>Ipsum consequuntur veniam.</li>
                    <li>Lorem laudantium?</li>
                    <li>Sit nobis.</li>
                </ul>
            </div>
            <div class="footer-2">
                <h2>Our Contributors</h2>
                <ul>
                    <li>
                        Elit officiis molestias.
                    </li>
                    <li>
                        Lorem voluptatem mollitia.
                    </li>
                    <li>
                        Lorem illum commodi?
                    </li>
                </ul>
            </div>
            <div class="footer-3">
                <h2>Colophon</h2>
                <ul>
                    <li>Contact details</li>
                    <li>Advertaiser details</li>
                    <li>RSS feed</li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>
