.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

a:link, a:visited {
}

a:hover {
}

h1 {
}

h2 {
}

body > header {
}

  nav ul {
  }

.promo {
}

.main {
  width: 1020px;
  margin: 0 auto;
  outline: solid 1px red;
  background: green;
}

  .latest {
    width: 640px;
    float: left;
  }

    .media {
    }
      .media img {
      }
  .sidebar {
    width: 360px;
    float: right;
  }
    .tweet {
        width: 100%;
    }

footer {
}
