.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a:link, a:visited {
}

a:hover {
}

.center-global {
  width: 1020px;
  margin: 0 auto;
}

h1 {
}

h2 {
}

body > header {
}

  nav ul {
  }

.promo {
}


  .latest {
    width: 640px;
    float: left;
    padding: 0 40px;
  }

    .media {
    }
      .media img {
      }
  .sidebar {
    width: 360px;
    float: right;
  }
    .tweet {
        padding-left: 55px;
        padding-right: 20px;
        position: relative;
    }
    .tweet:before {
        content: url('/static/img/twitter-icon.png');
        display: block;
        position: absolute;
        left: 15px;
        top: 4px;
    }

